<div class="bg-primary w-full h-screen flex items-center justify-center">
  <div class="2xl:w-1/4 lg:w-1/3 md:w-1/2 w-full">
    <div class="card overflow-hidden sm:rounded-md rounded-none">
      <div class="px-6 py-8">
        <a href="index.html" class="flex justify-center mb-8">
          <img class="h-6" src="" alt="">
        </a>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field mb-6">
              <%= f.label :email, class: 'mb-2' %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-input',  placeholder: 'Enter your email' %>
              <ul class="text-danger-700">
                <%= render partial: "devise/shared/field_error_messages", locals: {field: :email, messages: resource.errors.messages[:email] } %>
              </ul>
          </div>

          <div class="field mb-6">
            <%= f.label :password, class: 'mb-2' %>
              <%= f.password_field :password, autocomplete: "new-password", class: 'form-input', placeholder: "Enter your password" %>
              <ul class="text-danger-700">
                <%= render partial: "devise/shared/field_error_messages", locals: {field: :password, messages: resource.errors.messages[:password] } %>
              </ul>
          </div>

          <div class="field mb-6">
            <%= f.label :password_confirmation, class: 'mb-2' %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-input', placeholder: "Enter your password again" %>
          </div>

          <div class="flex items-center mb-8">
              <input type="checkbox" class="form-checkbox rounded" id="checkbox-signin">
              <label class="ms-2 text-sm" for="checkbox-signin">I accept <a href="#" class="text-primary">Terms and Conditions</a></label>
          </div>

          <div class="flex justify-center mb-3 actions">
            <%= f.submit "Sign up", class: "btn w-full text-white bg-primary" %>
          </div>
        </div>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
