 <tr>
  <%# <td class="hidden py-3 ps-4">
    <div class="flex items-center h-5">
      <input id="table-checkbox-1" type="checkbox" class="form-checkbox rounded">
      <label for="table-checkbox-1" class="sr-only">Checkbox</label>
    </div>
  </td> %>
  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800"><%= invoice.invoice_number %></td>
  <td class="hidden md:table-cell px-6 py-4 whitespace-nowrap text-sm text-gray-800"><%= invoice.client_name %></td>
  <td class="hidden md:table-cell px-6 py-4 whitespace-nowrap text-sm text-gray-800"><%= invoice.date %></td>
  <td class="hidden md:table-cell px-6 py-4 whitespace-nowrap text-sm text-gray-800"><%= invoice.due_date %></td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800"><%= number_to_currency(invoice.total_amount, unit: invoice.currency_symbol) %></td>
  <td class="hidden sm:table-cell px-6 py-4 whitespace-nowrap text-sm text-gray-800"><%= display_status(invoice.status)%></td>
  <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium flex gap-6">
    <div class="flex flex-wrap gap-2 relative dropdown" data-controller="dropdown" data-dropdown-target="dropdownContainer">
      
    <%# <button data-fc-type="dropdown" type="button" class="btn btn-primary btn-sm ff" data-action="dropdown#actionToggle" data-dropdown-target="dropdownButton">
          Actions <i class="fa-solid fa-chevron-down text-base ms-1"></i>
      </button> %>
      <button class="fa-solid fa-ellipsis-vertical cursor-pointer text-xl" data-fc-type="dropdown" data-action="dropdown#actionToggle" data-dropdown-target="dropdownButton" ></button>
      <%# <i class="fa-solid fa-ellipsis-vertical"></i> %>

      <div class="dropdown-body fc-dropdown-open:opacity-100 opacity-0 z-50 transition-all duration-300 bg-white border shadow-md rounded-lg p-2 fc-dropdown">
          <%= link_to t('invoices.index.table.actions.view'), '#', class: 'dropdown-item',  target: '_blank',  rel: "noreferrer"  %>
           <% if invoice.pdf.attached? %>
            <%= link_to t('invoices.index.table.actions.download'), rails_blob_path(invoice.pdf, disposition: "inline"),  target: '_blank',  rel: "noreferrer", class: 'dropdown-item' %>
          <% end %>
          <a class="dropdown-item" href="#">
               <%= t('invoices.index.table.actions.mark_as_paid') %>
          </a>
          <a class="dropdown-item" href="#">
              <%= t('invoices.index.table.actions.send') %>
          </a>
          <a class="dropdown-item" href="#">
               <%= t('invoices.index.table.actions.send_reminder') %>
          </a>
      </div>
    </div>
  </td>
</tr>