<h2 class="text-xl leading-6 font-semibold mb-6"><%= t("invoices.index.title") %></h2>

<div class="border rounded-lg overflow-hidden">
  <table class="min-w-full divide-y divide-gray-200" data-controller="invoice-table">
    <thead class="bg-gray-50 ">
      <tr>
        <th scope="col" class="py-3 ps-4">
          <div class="flex items-center h-5">
            <input id="table-checkbox-all" type="checkbox" class="form-checkbox rounded">
            <label for="table-checkbox-all" class="sr-only">Checkbox</label>
          </div>
        </th>
        <th scope="col" class="px-6 py-3 text-start text-sm text-gray-500 font-semibold"><%= t("invoices.index.table.heading.invoice_number") %></th>
        <th scope="col" class="px-6 py-3 text-start text-sm text-gray-500 font-semibold"><%= t("invoices.index.table.heading.client") %></th>
        <th scope="col" class="px-6 py-3 text-start text-sm text-gray-500 font-semibold"><%= t("invoices.index.table.heading.date") %></th>
        <th scope="col" class="px-6 py-3 text-start text-sm text-gray-500 font-semibold"><%= t("invoices.index.table.heading.due_date") %></th>
        <th scope="col" class="px-6 py-3 text-start text-sm text-gray-500 font-semibold"><%= t("invoices.index.table.heading.total_amount") %></th>
        <th scope="col" class="px-6 py-3 text-start text-sm text-gray-500 font-semibold"><%= t("invoices.index.table.heading.status") %></th>
        <th scope="col" class="px-6 py-3 text-end text-sm text-gray-500"></th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
      <%= render @invoices %>
    </tbody>
  </table>
</div>