<h4 class="mb-2 text-lg font-medium"><%= t('invoices.new.title') %></h4>
<div class="invoice-form-wrapper card p-6 rounded-0 md:rounded-md">
  <%= form_with(model: @invoice, local: true, data: {controller: 'nested-form invoice', nested_form_wrapper_selector_value: '.nested-form-wrapper', action:"line-item-removed@window->invoice#calculateTotal" }) do |form| %>
    <%= render partial: "partials/resource_error_messages", locals: { resource: @invoice } %>
    <div class="flex justify-between flex-wrap md:flex-nowrap">
      <div class="w-full md:w-2/5">
        <div class="field invoice-field">
          <%= form.label :category_id, class: "select !flex-2", style: "flex: 2 2 0%" do %>
            <%= t("activerecord.attributes.invoice.invoice_category") %>
            <%= form.select :invoice_category_id, {}, prompt: t("forms.placeholders.please_select") do %>
              <%= render "category_options", categories: @categories, selected: @invoice.invoice_category_id %> 
            <% end %>
            <svg >
              <use xlink:href="#select-arrow-down"></use>
            </svg>
          <% end %>
        </div>
        <div class="field invoice-field">
          <%= form.label :currency_id, class: "select" do %>
             <%= t("activerecord.attributes.invoice.currency") %>
            <%= form.collection_select :currency_id, Currency.active, :id, :code, {selected: Currency.default_currency.id } %>
            <svg  >
              <use xlink:href="#select-arrow-down"></use>
            </svg>
          <% end %>
        </div>
        <div class="field invoice-field">
          <%= form.label :language, class: "select"  do %>
             <%= t("activerecord.attributes.invoice.language") %>
            <%= form.select :language, options_for_select(Invoice::LANGUAGES, 'en') %>
            <svg >
              <use xlink:href="#select-arrow-down"></use>
            </svg>
          <% end %>
        </div>
        <div class="field invoice-field invoice_date_container">
          <%= form.label :date %>
          <%= form.text_field :date,
            placeholder: t("forms.placeholders.invoice.date"),
            data: {
              controller: "flatpickr",
              flatpickr_min_date: Time.zone.now,
              flatpickr_locale: I18n.locale,
              flatpickr_date_format: "d-m-Y",
            } %>
        </div>

        <div class="field invoice-field invoice_due_date_container">
          <%= form.label :due_date %>
          <%= form.text_field :due_date,
            placeholder: t("forms.placeholders.invoice.due_date"),
            data: {
              controller: "flatpickr",
              flatpickr_min_date: Time.zone.now,
              flatpickr_locale: I18n.locale,
              flatpickr_date_format: "d-m-Y",
            } %>
        </div>
      </div>
      <div class="flex flex-col w-full md:w-2/5 md:mt-5">
        
        <div class="field invoice-field">
          <div class="flex justify-start gap-x-2">
            <%= form.label :client_id, class: "select !flex-2" do %>
              <%= form.select :client_id, {}, prompt: t("forms.placeholders.invoice.select_client") do %>
                <%= render "invoice_client_options", clients: @clients, selected: @invoice.client_id %> 
              <% end %>
              <svg style="top: calc(50% - 3px)">
                <use xlink:href="#select-arrow-down"></use>
              </svg>
            <% end %>
            <div class=" flex-col justify-end flex-1 hidden md:flex">
              <%= link_to new_client_path(modal: true), class: "btn btn-xs btn-primary", data: { turbo_frame: 'modal' } do %>
                <%= t("forms.buttons.new") %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex invoice-line-items-header justify-between">
      <div><%= t("activerecord.attributes.line_item.description") %></div>

      <div><%= t("activerecord.attributes.line_item.price") %></div>
      <div><%= t("activerecord.attributes.line_item.unit") %></div>
      <div><%= t("activerecord.attributes.line_item.quantity") %></div>
      <div><%= t("activerecord.attributes.line_item.total_price") %></div>
      <div></div>
    </div>
    <%= form.label :line_items, class: "text-black block md:hidden" %>

    <!-- Other invoice fields -->


    <template data-nested-form-target="template">
      <%= form.fields_for :line_items, LineItem.new, child_index: 'NEW_RECORD' do |line_item_fields| %>
        <%= render "invoices/line_item_form", f: line_item_fields %>
      <% end %>
    </template>
  
  <!-- Add fields for other invoice attributes -->

    <div class="nested-form-wrapper" data-nested-form-target="wrapper">
    
      <%= form.fields_for :line_items do |line_item_fields| %>
        <%= render "invoices/line_item_form", f: line_item_fields %>
      <% end %>


  <!-- Inserted elements will be injected before that target. -->
    <div data-nested-form-target="target"></div>

    <div class="mt-6">
      <button type="button" class="btn btn-sm  btn-primary " data-action="nested-form#add"><%= t("forms.buttons.invoice.add_line_item") %></button>
    </div>

    <section class="flex justify-end mt-6">
      <div class="totals w-full md:w-fit">
        <div class="flex justify-between items-center mb-4">
          <label><%= t("activerecord.attributes.invoice.subtotal") %></label>
          <div data-invoice-target ="subTotal">0.00</div>
        </div>
        <div class="mb-4  ">
          <label class="toggle-label !flex flex-row items-center justify-between"  style="display: flex" for="one">
            <span><%= t("activerecord.attributes.invoice.vat_charged") %></span>
            <input id="one" type="checkbox" class="toggle" data-invoice-target="vatCharged" data-action="invoice#toggleVatFields" />
          </label>
        </div>
        <div class="mb-4 vat-fields">
          <%= form.label :vat_included, class: "toggle-label !flex flex-row items-center justify-between", style: "display: flex" do %>
             <%= t("activerecord.attributes.invoice.vat_included") %>
            <%= form.check_box :vat_included, class: "toggle", disabled: true, data: { invoice_target: "vatIncluded", action: "invoice#calculateTotal"} %>
          <% end %>
        </div>
        <div class="flex flex-row items-center justify-between mb-4 gap-2 vat-fields">
          
          <%= form.label :vat, class: "select !flex-2 flex-row flex items-center gap-4", style: "flex: 2 2 0%" do %>
          <%= t("activerecord.attributes.invoice.vat_rate") %>
            <%= form.select :vat_rate, options_for_select(Invoice::VAT_RATES, @invoice.vat_rate || 0), {}, disabled: true, data: {action: "invoice#calculateTotal", invoice_target: "vatRate" } %>
            <svg style="top: calc(50% - 3px)">
              <use xlink:href="#select-arrow-down"></use>
            </svg>
          <% end %>
          <div>
            <%= form.number_field :vat, class: 'form-input basis-2/5 text-right pr-0', data: {invoice_target: 'vat'}, readonly: true %>
          </div>
        </div>


        <div class="flex justify-between items-center">
          <label><%= t("activerecord.attributes.invoice.total") %></label>
          <div data-invoice-target="total">0.00</div>
        </div>
      </div>
    </section>

    <div class="flex justify-end mt-5">
      <%= form.submit t('forms.buttons.save'), class: "btn btn-md btn-success"%>
    </div>
  
    <% end %>
  </div>
</div>
