<header class="app-header flex items-center px-5 gap-6">
  <!-- Brand Logo -->
  <%# <a class="logo-box" href="/lunoz-tailwind/layouts/">
  <img src="assets/images/logo-sm.png" class="h-6" alt="Small logo">
  </a> %>
  <!-- Sidenav Menu Toggle Button -->
  <button id="button-toggle-menu" class="nav-link p-2 waves-effect me-auto">
  <span class="sr-only">Menu Toggle Button</span>
  <span class="flex items-center justify-center h-6 w-6">
  <i class="fa-solid fa-bars"></i>
  </span>
  </button>
  <!-- Language selector -->
  <div class="flex gap-2">
    <%- I18n.available_locales.each do |locale| %>
      <%= link_to locale.to_s.upcase, url_for(locale: ), class: locale_selector_class(locale) %>
    <% end %>
  </div>
  <!-- Fullscreen Toggle Button -->
  <div class="md:flex hidden">
    <%# <i class="fa-solid fa-bell"></i> %>
    <i class="fa-regular fa-bell"></i>
  </div>
  <!-- Profile Dropdown Button -->
  <div class="relative">
    <button data-fc-type="dropdown" data-fc-placement="bottom-end" type="button" class="nav-link flex items-center gap-2.5 waves-effect p-2 fc-dropdown">
    <%= image_tag current_user.profile.logo,  alt: "user-image", class: "rounded-full h-8 w-8" %>
    <%# <img src="https://images.pexels.com/photos/1081685/pexels-photo-1081685.jpeg" alt="user-image" class="rounded-full h-8 w-8"> %>
    <span class="md:flex items-center hidden">
    <span class="font-medium text-base"><%= current_user.profile.name %></span>
    <i class="ph ph-chevron-down"></i>
    </span>
    </button>
    <div class="fc-dropdown fc-dropdown-open:opacity-100 hidden opacity-0 w-40 z-50 transition-[margin,opacity] duration-300 mt-2 bg-white shadow-lg border rounded-lg p-2">
      <a class="dropdown-item" href="#">
      Inbox
      </a>
      <a class="dropdown-item" href="#">
      Profile
      </a>
      <a class="dropdown-item" href="#">
      Settings
      </a>
      <a class="dropdown-item" href="#">
      Lock Account
      </a>
      <%= button_to destroy_user_session_path, method: :delete, class: "menu-link waves-effect", data: { turbo: false } do %>
        <i class="fa-solid fa-power-off"></i>
        <span class="menu-text"><%= t('menu.logout') %> </span>
      <% end %>
    </div>
  </div>
</header>