<div class="app-menu" style="
  background: white;
  ">
  <!-- Brand Logo -->
  <a href="index.html" class="logo-wrapper">
  <img src="https://myrathemes.com/lunoz-tailwind/layouts/assets/images/logo-dark.png" class="logo-dark h-6" alt="Dark logo">
  </a>
  <!--- Menu -->

  <div class="menu-items">
    <ul class="menu">
      <%# <li class="menu-title">Menu</li> %>
      <li class="menu-item">
        <a href="index.html" class="menu-link">
        <i class="fa-solid fa-flag"></i>
        <span class="menu-text"> Dashboard </span>
        </a>
      </li>
      <li class="menu-item">
        <%= link_to invoices_path, class: "menu-link waves-effect" do %>
          <i class="fa-solid fa-file-invoice"></i>
        
          <span class="menu-text"> <%= t("menu.invoices") %> </span>
        <% end %>
      </li>
      <li class="menu-item">
        <a href="calendar.html" class="menu-link waves-effect">
          <i class="fa-regular fa-handshake"></i>
        
        <span class="menu-text">  <%= t("menu.clients") %> </span>
        </a>
      </li>
      <li class="menu-item">
        <a href="calendar.html" class="menu-link waves-effect">
        <i class="fa-solid fa-arrow-right-arrow-left"></i>
        
        <span class="menu-text"> <%= t("menu.transactions") %> </span>
        </a>
      </li>
      <li class="menu-item">
        <a href="calendar.html" class="menu-link waves-effect">
        
        <span class="menu-text"> Income </span>
        </a>
      </li>
      <li class="menu-item">
        <a href="calendar.html" class="menu-link waves-effect">
        <i class="fa-solid fa-percent"></i>
        <span class="menu-text">  <%= t("menu.taxes") %> </span>
        </a>
      </li>
    
      <li class="menu-item">
        <a href="javascript:void(0)" class="menu-link">
        <span class="menu-icon">
        <i class="ph-duotone ph-seal-check"></i>
        </span>
        <span class="menu-text"> Badge Items </span>
        <span class="badge bg-danger rounded ms-auto">Hot</span>
        </a>
      </li>
      <li class="menu-item">
        <a href="calendar.html" class="menu-link waves-effect">
        
        <span class="menu-text"> Accounting </span>
        </a>
      </li>
    
       <li class="menu-item">
        <a href="calendar.html" class="menu-link waves-effect">
        
        <span class="menu-text"> Calendar </span>
        </a>
      </li>


      <li class="menu-item">
        <a href="calendar.html" class="menu-link waves-effect">
        
        <span class="menu-text"> Settings </span>
        </a>
      </li>
      <li class="menu-item">
        <%= link_to destroy_user_session_path, method: :delete, class: "menu-link waves-effect",  data: { turbo_method: :delete} do %>
          <i class="fa-solid fa-power-off"></i>
          <span class="menu-text"><%= t('menu.logout') %> </span>
        <% end %>
      </li>
    
    </ul>
  </div>

</div>