 <tr>
  <td class="py-3 ps-4">
    <div class="flex items-center h-5">
      <input id="table-checkbox-1" type="checkbox" class="form-checkbox rounded">
      <label for="table-checkbox-1" class="sr-only">Checkbox</label>
    </div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800"><%= client.display_name %></td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800"><%= client.email %></td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800"><%= client.vat_number %></td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800"><%= client.business_tax_id %></td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800"><%= client.phone_number %></td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800"><%= client.full_address %></td>
  <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium flex gap-6">
    <a class="text-danger-400 hover:text-danger-700" href="#">Delete</a>
    <a class="text-primary hover:text-sky-700" href="#">View</a>
  </td>
</tr>