<div class="flex justify-between mb-6 pt-4 pb-0 px-4 md:p-0 page-heading">
  <h2 class="text-xl leading-6 font-semibold"><%= t("clients.index.title") %></h2>
  <%= link_to new_client_path do %>
    <button class="btn btn-success btn-sm"><%= t("clients.index.actions.new") %></button>
  <% end %>
</div>
<div class="border rounded-lg overflow-hidden">
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50 ">
      <tr>
        <th scope="col" class="py-3 ps-4">
          <div class="flex items-center h-5">
            <input id="table-checkbox-all" type="checkbox" class="form-checkbox rounded">
            <label for="table-checkbox-all" class="sr-only">Checkbox</label>
          </div>
        </th>
        <th scope="col" class="px-6 py-3 text-start text-sm text-gray-500 font-semibold"><%= t("activerecord.attributes.client.name") %></th>
        <th scope="col" class="px-6 py-3 text-start text-sm text-gray-500 font-semibold"><%= t("activerecord.attributes.client.email") %></th>
        <th scope="col" class="px-6 py-3 text-start text-sm text-gray-500 font-semibold"><%= t("activerecord.attributes.client.vat_number") %></th>
        <th scope="col" class="px-6 py-3 text-start text-sm text-gray-500 font-semibold"><%= t("activerecord.attributes.client.business_tax_id") %></th>
        <th scope="col" class="px-6 py-3 text-start text-sm text-gray-500 font-semibold"><%= t("activerecord.attributes.client.phone_number") %></th>
        <th scope="col" class="px-6 py-3 text-start text-sm text-gray-500 font-semibold"><%= t("activerecord.attributes.client.address") %></th>
        <th scope="col" class="px-6 py-3 text-end text-sm text-gray-500"></th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
      <%= render @clients %>
    </tbody>
  </table>
</div>