<tr id="transaction-<%= transaction.id %>" class="hover:bg-gray-50">
  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800"><%= transaction.description %></td>
  <td class="hidden md:table-cell px-6 py-4 whitespace-nowrap text-sm text-gray-800"><%= transaction.date %></td>
  <td class="md:table-cell px-6 py-4 whitespace-nowrap text-sm <%= color_transaction_amount(transaction) %>"><%= format_transaction_amount(transaction) %></td>
  <td class="md:table-cell px-6 py-4 whitespace-nowrap text-lg text-gray-700">
    <% if transaction.receipt.attached? %>
      <%= link_to presigned_url(transaction.receipt.blob, disposition: 'inline'), target: '_blank' do %>
        <i class="fa-solid <%= transaction_receipt_icon(transaction.receipt.content_type) %> mr-2"></i>
      <% end %>
    <% end %>
  </td>

  <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium flex gap-6 justify-end">
    <%= link_to edit_transaction_path(transaction), class: 'btn btn-primary btn-xs', data: { turbo_frame: 'modal' }, title: 'View' do %>
      <i class="fa-solid fa-pencil"></i>
    <% end %>
    
    <%= button_to transaction_path(transaction), method: :delete, data: { turbo: false }, class: 'btn btn-danger btn-xs hidden md:block', title: 'Delete' do %>
      <i class="fa-solid fa-xmark"></i>
    <% end %>
  </td>
</tr>
