<div class="flex justify-between mb-6 pt-4 pb-0 px-4 md:p-0 page-heading flex-wrap md:flex-nowrap gap-y-2 ">
  <h2 class="text-xl font-semibold w-full md:w-fit"><%= t("financial_transactions.index.title") %></h2>
  <div class="flex justify-end gap-2">
    <%= link_to new_transaction_path(transaction_type: "expense"), class: 'btn btn-primary btn-sm btn--icon', data: { turbo_frame: 'modal' } do %>
      <i class="fa-solid fa-minus"></i>
      <span class="menu-text"> <%= t("financial_transactions.index.links.new_expense") %> </span>
    <% end %>
    <%= link_to new_transaction_path(transaction_type: "income"), class: 'btn btn-dark btn-sm btn--icon', data: { turbo_frame: 'modal' } do %>
      <i class="fa-solid fa-plus"></i>
      <span class="menu-text"> <%= t("financial_transactions.index.links.new_income") %> </span>
    <% end %>
  </div>
</div>

<section class="table-actions">
  <%= render 'search_form' %>
</section>

<section class="divide-y divide-gray-200" id="grouped-transactions">
  <turbo-frame id="grouped-transactions-turbo">
    <!-- Invoices List Rendering Here -->
    <%= render 'grouped_transactions', {grouped_transactions: @grouped_transactions} %>
  </turbo-frame>
</section>

