
<%= t("financial_transactions.index.title") %>
<%= link_to new_transaction_path(transaction_type: "expense"), class: 'btn btn-primary btn--icon', data: { turbo_frame: 'modal' } do %>
  <i class="fa-solid fa-plus"></i>
  <span class="menu-text"> <%= t("financial_transactions.index.links.new_expense") %> </span>
<% end %>
<%= link_to new_transaction_path(transaction_type: "income"), class: 'btn btn-primary btn--icon', data: { turbo_frame: 'modal' } do %>
  <i class="fa-solid fa-plus"></i>
  <span class="menu-text"> <%= t("financial_transactions.index.links.new_income") %> </span>
<% end %>

