<!DOCTYPE html>
<html>
  <head>
    <title>Solobooks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="font-body">
    <main class="w-full test flex h-svh">
      <section class="w-full md:w-1/2 px-4 py-8 flex justify-center bg-tertiary-25">
        <div class="flex flex-col items-center w-full md:w-2/3 justify-center">
          <h1 class="text-3xl font-bold text-primary-800 mb-4">Welcome to Solobooks</h1>
          <%= yield %>
        </div>
      </section>
      <section class="hidden md:block w-1/2 relative">
        <img src="https://images.pexels.com/photos/3178818/pexels-photo-3178818.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Books" class="w-full h-full object-cover">
        <!-- Blue Overlay -->
        <div class=" inset-0 bg-primary-300 opacity-70 absolute"></div>
      </section>
    </main>
  </body>
</html>
